<div
  class="text-white gap-4 md:gap-8 h-full flex flex-col mb-4 md:mb-8 lg:mb-10 pb-4 md:pb-8 lg:pb-10"
>
  <div class="w-full max-w-xl">
    <div class="text-xs text-white uppercase mb-2">Google</div>
    <div
      class="w-full p-4 border border-zinc-800 rounded overflow-hidden bg-zinc-900 flex gap-4"
    >
      <div class="w-full">
        <div class="flex gap-2 items-center mb-2">
          <div
            class="w-7 min-w-7 h-7 rounded-full bg-zinc-800 border border-zinc-800 overflow-hidden"
          >
            <img
              *ngIf="content.favicon"
              [src]="content.favicon"
              width="100%"
              alt="Favicon"
              class="w-7 min-w-7 h-7"
            />
          </div>
          <div class="text-xs text-zinc-400 flex flex-col gap-1">
            <span class="leading-3 text-xs">{{
              content?.name || content?.name
            }}</span>
            <span class="leading-3 text-xs">{{
              content?.canonical || "https://pageurl.com"
            }}</span>
          </div>
        </div>

        <div class="text-base text-[#99c3ff]">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-300 mt-2">
          {{ content?.description || "Page description" }}
        </div>
      </div>
      <div
        class="w-36 min-w-36 h-24 rounded bg-zinc-800 border border-zinc-800 overflow-hidden"
      >
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          width="100%"
          alt="Favicon"
          class="w-36 min-w-36 h-24 object-cover object-center"
        />
      </div>
    </div>
  </div>

  <div class="w-full max-w-lg">
    <div class="text-xs text-white uppercase mb-2">Twitter</div>
    <div
      class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900"
    >
      <div
        class="bg-zinc-800 w-full overflow-hidden border-b border-zinc-800 relative pt-[52.33%]"
      >
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full h-full absolute top-0 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-4">
        <div class="text-base text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.description || "Page description" }}
        </div>
        <div class="text-xs text-zinc-400 mt-2">
          {{ content?.canonical || "https://pageurl.com" }}
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-lg">
    <div class="text-xs text-white uppercase mb-2">Facebook</div>
    <div
      class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900"
    >
      <div
        class="bg-zinc-800 w-full overflow-hidden border-b border-zinc-800 relative pt-[52.5%]"
      >
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full h-full absolute top-0 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-4">
        <div class="text-xs text-zinc-400 uppercase">
          {{ content?.canonical || "https://pageurl.com" }}
        </div>
        <div class="text-base text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.description || "Page description" }}
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-xl">
    <div class="text-xs text-white uppercase mb-2">Linkedin</div>
    <div
      class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900"
    >
      <div
        class="bg-zinc-800 w-full overflow-hidden border-b border-zinc-800 relative pt-[52.25%]"
      >
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full h-full absolute top-0 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-4">
        <div class="text-xs text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.canonical || "https://pageurl.com" }}
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-lg">
    <div class="text-xs text-white uppercase mb-2">Discord</div>
    <div
      class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900"
    >
      <div class="w-full flex flex-col gap-2 p-4 border-l-4 border-zinc-700">
        <div class="text-sm text-[#99c3ff] font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.description || "Page description" }}
        </div>
        <div class="bg-zinc-800 w-full overflow-hidden relative rounded mt-2">
          <img
            *ngIf="content?.image"
            [src]="content?.image"
            class="border-0 outline-none w-full h-full"
            width="100%"
            [alt]="content?.imageAlt"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-lg">
    <div class="text-xs text-white uppercase mb-2">Slack</div>
    <div
      class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900"
    >
      <div class="w-full flex flex-col gap-1 p-4 border-l-4 border-zinc-700">
        <div class="flex gap-2 items-center">
          <div
            class="w-5 min-w-5 h-5 rounded-full bg-zinc-800 border border-zinc-800 overflow-hidden"
          >
            <img
              *ngIf="content.favicon"
              [src]="content.favicon"
              width="100%"
              alt="Favicon"
              class="w-5 min-w-5 h-5"
            />
          </div>
          <div class="text-xs text-zinc-400">
            {{ content?.canonical || "https://pageurl.com" }}
          </div>
        </div>
        <div class="text-sm text-[#99c3ff] font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.description || "Page description" }}
        </div>
        <div class="bg-zinc-800 w-full overflow-hidden relative rounded mt-2">
          <img
            *ngIf="content?.image"
            [src]="content?.image"
            class="border-0 outline-none w-full h-full"
            width="100%"
            [alt]="content?.imageAlt"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-xl">
    <div class="text-xs text-white uppercase mb-2">Pinterest</div>
    <div class="w-full max-w-60">
      <div
        class="bg-zinc-800 w-full overflow-hidden border rounded border-zinc-800 relative pt-[52.25%]"
      >
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full h-full absolute top-0 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-2">
        <div class="text-xs text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
      </div>
    </div>
  </div>

  <div class="hidden md:flex min-h-4 md:min-h-8"></div>
</div>
