<div
  class="text-white gap-4 md:gap-8 h-full flex flex-col mb-4 md:mb-8 lg:mb-10 pb-4 md:pb-8 lg:pb-10"
>
  <div class="w-full max-w-xl">
    <div class="text-xs text-white uppercase mb-2">Google</div>
    <div class="w-full p-4 border border-zinc-800 rounded overflow-hidden bg-zinc-900">
      <div class="text-base text-[#99c3ff]">
        {{ content?.title || "Page title" }}
      </div>
      <div class="text-xs text-zinc-400">
        {{ content?.canonical || "https://pageurl.com" }}
      </div>
      <div class="text-xs text-zinc-300 mt-2">
        {{ content?.description || "Page description" }}
      </div>
    </div>
  </div>

  <div class="w-full max-w-lg">
    <div class="text-xs text-white uppercase mb-2">Twitter</div>
    <div class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900">
      <div class="bg-zinc-800 w-full h-64 min-h-64 overflow-hidden border-b border-zinc-800">
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full min-h-64 h-64 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-4">
        <div class="text-base text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.description || "Page description" }}
        </div>
        <div class="text-xs text-zinc-400 mt-2">
          {{ content?.canonical || "https://pageurl.com" }}
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-lg">
    <div class="text-xs text-white uppercase mb-2">Facebook</div>
    <div class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900">
      <div class="bg-zinc-800 w-full h-52 min-h-52 overflow-hidden border-b border-zinc-800">
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full min-h-52 h-52 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-4">
        <div class="text-xs text-zinc-400 uppercase">
          {{ content?.canonical || "https://pageurl.com" }}
        </div>
        <div class="text-base text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.description || "Page description" }}
        </div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-xl">
    <div class="text-xs text-white uppercase mb-2">Linkedin</div>
    <div class="w-full border border-zinc-800 rounded overflow-hidden bg-zinc-900">
      <div class="bg-zinc-800 w-full h-64 min-h-64 overflow-hidden border-b border-zinc-800">
        <img
          *ngIf="content?.image"
          [src]="content?.image"
          class="border-0 outline-none w-full min-h-64 h-64 object-cover object-center"
          width="100%"
          [alt]="content?.imageAlt"
        />
      </div>
      <div class="w-full flex flex-col gap-1 p-4">
        <div class="text-xs text-white font-medium">
          {{ content?.title || "Page title" }}
        </div>
        <div class="text-xs text-zinc-400">
          {{ content?.canonical || "https://pageurl.com" }}
        </div>
      </div>
    </div>
  </div>

  <div class="hidden md:flex min-h-4 md:min-h-8"></div>
</div>
