<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>SeoTopper - O gerador de SEO mais TOP que existe.</title>
  <meta name="description" content="Gerador de SEO mais TOP do momento, com meta tags do facebook, twitter, google+ entre outras. github: https://github.com/gustavoquinalha/seotopper" />
  <meta name="author" content="Quinalha e Japa" />
  <link rel="base" href="http://quinalha.me/seotopper/" />
  <link rel="canonical" href="http://quinalha.me/seotopper/" />
  <meta rel="sitemap" type="application/xml" content="http://quinalha.me/seotopper/sitemap.xml" />
  <meta name="robots" content="index/follow" />
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="SeoTopper - O gerador de SEO mais TOP que existe." />
  <meta itemprop="description" content="Gerador de SEO mais TOP do momento, com meta tags do facebook, twitter, google+ entre outras. github: https://github.com/gustavoquinalha/seotopper" />
  <meta itemprop="image" content="http://quinalha.me/seotopper/img/intro.png" />
  <!-- markup for facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="SeoTopper - O gerador de SEO mais TOP que existe." />
  <meta property="og:url" content="http://quinalha.me/seotopper/" />
  <meta property="og:site_name" content="SeoTopper" />
  <meta property="og:image" content="http://quinalha.me/seotopper/img/intro.png" />
  <meta property="og:description" content="Gerador de SEO mais TOP do momento, com meta tags do facebook, twitter, google+ entre outras. github: https://github.com/gustavoquinalha/seotopper" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="fb:app_id" content="1154262757941899" />
  <meta property="fb:admins" content="100002787447461" />
  <!-- markup for twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="SeoTopper - O gerador de SEO mais TOP que existe." />
  <meta name="twitter:description" content="Gerador de SEO mais TOP do momento, com meta tags do facebook, twitter, google+ entre outras. github: https://github.com/gustavoquinalha/seotopper" />
  <meta name="twitter:creator" content="Quinalha e Japa" />
  <meta name="twitter:image" content="http://quinalha.me/seotopper/img/intro.png" />
  <link rel="stylesheet" type="text/css" href="css/index.css">


  <!-- ****** favicons do faviconit.com ****** -->
  <link rel="shortcut icon" href="img/favicon/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="img/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="img/favicon/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="img/favicon/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="img/favicon/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16.png">
  <link rel="apple-touch-icon" href="img/favicon/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="img/favicon/favicon-144.png">
  <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  <!-- ****** favicons do faviconit.com ****** -->

</head>

<body ng-controller="IndexController">
<div class="bg-intro">
  <div class="intro">
    <div class="flex">
      <div class="box tamanho">
        <img src="img/logo-branca-01.svg" class="logo" alt="seo topper">

        <div class="ex">
          <pre>
<span class="comment">&lt;!-- um simples exemplo --&gt;</span>
<span class="ff">&lt;title&gt;</span>Título da minha página<span class="ff">&lt;/title&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">description</span>" content="<span class="resul">Descrição da minha página</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">author</span>" content="<span class="resul">Eu</span>"<span class="ff">/&gt;</span>
<span class="comment">&lt;!-- e muito mais TEY! --&gt;</span>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="formulario">
    <div class="texto-intro tamanho margin">
      <h2>Apenas digite os dados e gere as meta tags para seu site</h2>
    </div>
    <form name="seoForm" ng-submit="salvar(seo)" ng-show="sv">
      <div class="bg tamanho margin">
        <div class="esp">
          <h2>Geral</h2>
          <div class="container-form">
            <div class="box-form">
              <label for="title">Título da sua página<i>*</i></label> <i><span class="counter"><strong>{{57 - seo.title.length}}</strong> caracteres</span></i>
              <br>
              <input type="text" name="title" ng-model="seo.title" placeholder="Ex: Titulo do meu site" ng-minlength="1" ng-trim="false" maxlength="57" required>
              <span>Para ficar legal use no máximo 57 caracteres.</span>
            </div>
            <div class="box-form">
              <label for="nome">Descrição da sua página <i>*</i></label> <i><span class="counter"><strong>{{160 - seo.description.length}}</strong> caracteres</span></i>
              <br>
              <input type="text" name="description" ng-model="seo.description" placeholder="Ex: Meu site faz muitas coisas legais" ng-minlength="1" ng-trim="false" maxlength="160" required>
              <span>Para ficar legal use no máximo 160 caracteres.</span>
            </div>
            <div class="box-form">
              <label for="nome">Autor da página<i>*</i></label>
              <br>
              <input type="text" name="author" ng-model="seo.author" ng-minlength="1" placeholder="Ex: Joãozinho" required>
            </div>
            <div class="box-form">
              <label for="nome">Imagem<i>*</i></label>
              <br>
              <input type="text" name="image" ng-model="seo.image" ng-minlength="1" placeholder="Ex: http://sua-url.com.br/img/intro.png" required>
              <span>A imagem deve ter no máximo <strong>8 MB</strong>.</span>
            </div>
            <div class="box-form">
              <label for="nome">Canonical<i>*</i></label>
              <br>
              <input type="text" name="canonical" ng-model="seo.canonical" placeholder="Ex: http://sua-url.com.br" ng-minlength="1" required>
            </div>
            <div class="box-form">
              <label for="nome">Robots<i>*</i></label>
              <br>
              <input type="text" name="robots" ng-model="seo.robots" ng-minlength="1" placeholder="Ex: index/follow" required>
            </div>
            <div class="box-form">
              <label for="nome">Base</label>
              <br>
              <input type="text" name="base" ng-model="seo.base" ng-minlength="1" placeholder="Ex: http://sua-url.com.br" required>
            </div>
            <div class="box-form">
              <label for="nome">Site Map</label>
              <br>
              <input type="text" name="sitemap" ng-model="seo.sitemap" ng-minlength="1" placeholder="Ex: http://sua-url.com.br/sitemap.xml" required>
            </div>
          </div>
        </div>
      </div>
      <div class="bg margin tamanho">
        <h2>Facebook</h2>
        <div class="container-form ">
          <div class="box-form">
            <label for="title">Site name</label>
            <br>
            <input type="text" name="name" ng-model="seo.name" placeholder="Ex: Titulo do meu site" ng-minlength="1">
          </div>
          <div class="box-form">
            <label for="nome">Tipo</label>
            <br>
            <input type="text" name="type" ng-model="seo.type" ng-minlength="1" placeholder="Ex: website">
          </div>
          <div class="box-form">
            <label for="nome">APP ID</label>
            <br>
            <input type="text" name="appid" ng-model="seo.appid" ng-minlength="1" placeholder="Ex: 99989797">
          </div>
          <div class="box-form">
            <label for="nome">fb-admins</label>
            <br>
            <input type="text" name="fbadmins" ng-model="seo.fbadmins" ng-minlength="1" placeholder="Ex: 111111111111">
          </div>
          <div class="box-form">
            <label for="nome">Locale</label>
            <br>
            <input type="text" name="locale" ng-model="seo.locale" ng-minlength="1" placeholder="Ex: pt_BR">
          </div>
        </div>
      </div>
      <div class="bg margin tamanho">
        <h2>Twitter</h2>
        <div class="container-form">
          <div class="box-form">
            <label for="nome">Twitter card</label>
            <br>
            <input type="text" name="ttcard" ng-model="seo.ttcard" ng-minlength="1" placeholder="Ex: Summary">
          </div>
        </div>
      </div>
      <div class="container-form margin tamanho">
        <button class="box-form-button" type="submit" class="btn btn-success" ng-disabled="seoForm.$invalid" ng-show="sv    ">Generate SEO</button>
      </div>
    </form>
    <form name="seoForm" ng-submit="editar(seo)" ng-show="editor">
      <div class="bg tamanho margin">
        <h2>Geral</h2>
        <div class="container-form">
          <div class="box-form">
            <label for="title">Título da sua página</label>
            <br>
            <input type="text" name="title" ng-model="seo.title" placeholder="Ex: Titulo do meu site" ng-minlength="1" required>
            <span>Para ficar legal use no máximo 57 caracteres.</span>
          </div>
          <div class="box-form">
            <label for="nome">Descrição da sua página</label>
            <br>
            <input type="text" name="description" ng-model="seo.description" placeholder="Ex: Meu site faz muitas coisas legais" ng-minlength="1" required>
            <span>Para ficar legal use no máximo 160 caracteres.</span>
          </div>
          <div class="box-form">
            <label for="nome">Autor da página</label>
            <br>
            <input type="text" name="author" ng-model="seo.author" ng-minlength="1" placeholder="Ex: Joaozinho" required>
          </div>
          <div class="box-form">
            <label for="nome">Imagem</label>
            <br>
            <input type="text" name="image" ng-model="seo.image" ng-minlength="1" placeholder="Ex: http://sua-url.com.br/image.jpg" required>
          </div>
          <div class="box-form">
            <label for="nome">Canonical</label>
            <br>
            <input type="text" name="canonical" ng-model="seo.canonical" placeholder="Ex: http://sua-url.com.br" ng-minlength="1" required>
          </div>
          <div class="box-form">
            <label for="nome">Robots</label>
            <br>
            <input type="text" name="robots" ng-model="seo.robots" ng-minlength="1" placeholder="Ex: index/follow" required>
          </div>
          <div class="box-form">
            <label for="nome">Base</label>
            <br>
            <input type="text" name="base" ng-model="seo.base" ng-minlength="1" placeholder="Ex: minha url" required>
          </div>
          <div class="box-form">
            <label for="nome">Site Map</label>
            <br>
            <input type="text" name="sitemap" ng-model="seo.sitemap" ng-minlength="1" placeholder="Ex:site map" required>
          </div>
        </div>
      </div>
      <div class="bg margin tamanho">
        <h2>Facebook</h2>
        <div class="container-form ">
          <div class="box-form">
            <label for="title">Site name</label>
            <br>
            <input type="text" name="name" ng-model="seo.name" placeholder="Ex: Titulo do meu site" ng-minlength="1">
          </div>
          <div class="box-form">
            <label for="nome">Tipo</label>
            <br>
            <input type="text" name="type" ng-model="seo.type" ng-minlength="1" placeholder="Ex: website">
          </div>
          <div class="box-form">
            <label for="nome">APP ID</label>
            <br>
            <input type="text" name="appid" ng-model="seo.appid" ng-minlength="1" placeholder="Ex: 99989797">
          </div>
          <div class="box-form">
            <label for="nome">fb-admins</label>
            <br>
            <input type="text" name="fbadmins" ng-model="seo.fbadmins" ng-minlength="1" placeholder="Ex: 111111111111">
          </div>
          <div class="box-form">
            <label for="nome">Locale</label>
            <br>
            <input type="text" name="locale" ng-model="seo.locale" ng-minlength="1" placeholder="Ex: pt_BR">
          </div>
        </div>
      </div>
      <div class="bg margin tamanho">
        <h2>Twitter</h2>
        <div class="container-form">
          <div class="box-form">
            <label for="nome">Twitter card</label>
            <br>
            <input type="text" name="ttcard" ng-model="seo.ttcard" ng-minlength="1" placeholder="Ex: Summary">
          </div>
        </div>
      </div>
      <div class="container-form margin tamanho">
        <button class="box-form-button" ng-show="editor" style="background-color: cornflowerblue" ng-disabled="seoForm.$invalid" type="submit">Save </button>
      </div>
    </form>
    <div ng-repeat="x in seos | orderBy : '-id' " class="tamanho margin">
      <h2>{{x.name}}</h2>
      <pre id="foo">
<span class="ff">&lt;title&gt;</span>{{x.title}}<span class="ff">&lt;/title&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">description</span>" content="<span class="resul">{{x.description}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">author</span>" content="<span class="resul">{{x.author}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;link</span> rel="<span class="resul">base</span>" href="<span class="resul">{{x.base}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;link</span> rel="<span class="resul">canonical</span>" href="<span class="resul">{{x.canonical}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> rel="<span class="resul">sitemap</span>" type="<span class="resul">application/xml</span>" content="<span class="resul">{{x.sitemap}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">robots</span>" content="<span class="resul">{{x.robots}}</span>"<span class="ff">/&gt;</span>
<span class="comment">&lt;!-- Schema.org markup for Google+ --&gt;</span>
<span class="ff">&lt;meta</span> itemprop="<span class="resul">name</span>" content="<span class="resul">{{x.title}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> itemprop="<span class="resul">description</span>" content="<span class="resul">{{x.description}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> itemprop="<span class="resul">image</span>" content="<span class="resul">{{x.image}}</span>"<span class="ff">/&gt;</span>
<span class="comment">&lt;!-- markup for facebook --&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:type</span>" content="<span class="resul">{{x.type}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:title</span>" content="<span class="resul">{{x.title}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:url</span>" content="<span class="resul">{{x.canonical}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:site_name</span>" content="<span class="resul">{{x.name}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:image</span>" content="<span class="resul">{{x.image}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:description</span>" content="<span class="resul">{{x.description}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">og:locale</span>" content="<span class="resul">{{x.locale}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">fb:app_id</span>" content="<span class="resul">{{x.appid}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> property="<span class="resul">fb:admins</span>" content="<span class="resul">{{x.fbadmins}}</span>"<span class="ff">/&gt;</span>
<span class="comment">&lt;!-- markup for twitter --&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">twitter:card</span>" content="<span class="resul">{{x.ttcard}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">twitter:title</span>" content="<span class="resul">{{x.title}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">twitter:description</span>" content="<span class="resul">{{x.description}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">twitter:creator</span>" content="<span class="resul">{{x.author}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">twitter:image</span>" content="<span class="resul">{{x.image}}</span>"<span class="ff">/&gt;</span>
              </pre>
      <div class="cc">
        <button class="btn" data-clipboard-target="#foo">
          copy to clipboard
        </button>

        <button class="btn btn-remover" ng-click="remover(x)" ng-hide="editor">remove</button>

        <button class="btn" ng-click="editando(x)">edit</button>
      </div>
    </div>
  </div>
  <footer>
    <div class="tamanho margin">
      <small>create by <a href="https://github.com/gustavoquinalha" target="_blank">Quinalha</a> and <a href="https://github.com/usuarioJapa" target="_blank">Japa</a>.</small>
    </div>
  </footer>
  <script type="text/javascript" src="js/assets/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/index.controller.js"></script>
  <script type="text/javascript" src="js/index.service.js"></script>
  <script type="text/javascript" src="js/assets/clipboard.min.js"></script>
  <script type="text/javascript">
    new Clipboard('.btn');
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96118424-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
