<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>seotopper</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/assets/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/index.controller.js"></script>
    <script type="text/javascript" src="js/index.service.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body ng-controller="IndexController">
    <div class="intro">
      <div class="flex">
        <div class="box tamanho">
          <h1>SEOTOPPER</h1>
          <p>
            Um lindo gerador de SEO para seu site. Com Facebook, Twitter e Google+
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="formulario">
        <form name="prodForm" ng-submit="salvar(prod)">
          <div class="container-form tamanho margin">
            <div class="box-form">
              <label for="nome">Nome</label><br>
              <input type="text" name="nome" ng-model="prod.nome" placeholder="Nome do SEO" ng-minlength="1" required>
            </div>

            <div class="box-form">
              <label for="title">Title</label><br>
              <input type="text" name="title" ng-model="prod.title"  placeholder="Ex: Titulo do meu site" ng-minlength="1" required>
            </div>

            <div class="box-form">
              <label for="nome">Descricao</label><br>
              <input type="text" name="description" ng-model="prod.description"  placeholder="Ex: Meu site faz muitas coisas legais" ng-minlength="1" required>
            </div>

            <div class="box-form">
              <label for="nome">Author</label><br>
              <input type="text" name="author" ng-model="prod.author" ng-minlength="1" placeholder="Ex: Joaozinho" required>
            </div>

            <div class="box-form">
              <label for="nome">Imagem</label><br>
              <input type="text" name="image" ng-model="prod.image" ng-minlength="1" placeholder="Ex: Joaozinho" required>
            </div>

            <div class="box-form">
              <label for="nome">Canonical</label><br>
              <input type="text" name="canonical" ng-model="prod.canonical" placeholder="Ex: http://sua-url.com.br" ng-minlength="1" required>
            </div>

            <div class="box-form">
              <label for="nome">Robots</label><br>
              <input type="text" name="robots" ng-model="prod.robots" ng-minlength="1" placeholder="Ex: index/follow" required>
            </div>

            <div class="box-form">
              <button type="submit" class="btn btn-success" ng-disabled="prodForm.$invalid">Salvar</button>
            </div>

          </div>


          </p>
        </form>
      </div>
      <div class="tabela">
        <div ng-repeat="x in produtos | orderBy: reverse" class="tamanho margin">
          <h1>{{x.nome}}</h1>
          <pre>
<span class="ff">&lt;title&gt;</span>{{x.title}}<span class="ff">&lt;/title&gt;</span>
<span class="ff">&lt;meta</span> http-equiv="Content-Type" content="<span class="resul">text/html; charset=UTF-8"</span><span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">viewport</span>" content="<span class="resul">width=device-width,initial-scale=1,user-scalable=no"</span><span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">description</span>" content="<span class="resul">{{x.description}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">author</span>" content="<span class="resul">{{x.author}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;link</span> rel="<span class="resul">canonical</span>" href="<span class="resul">{{x.canonical}}</span>"<span class="ff">/&gt;</span>
<span class="ff">&lt;meta</span> name="<span class="resul">robots</span>" content="<span class="resul">{{x.robots}}</span>"<span class="ff">/&gt;</span>
<!-- Schema.org markup for Google+ -->
<span class="ff">&lt;meta</span> itemprop="name" content="<span class="resul">{{x.title}}</span>"/&gt;</span>
<span class="ff">&lt;meta</span> itemprop="description" content="<span class="resul">{{x.description}}</span>"/&gt;</span>
<span class="ff">&lt;meta</span> itemprop="image" content="<span class="resul">{{x.image}}</span>"/&gt;</span>
        </pre>
          <hr>
          <!--pre style='color:#55cc66;background:#001800; width: 50%;  overflow-y: hidden'><span style='color:#865700;'>&lt;</span><span style='color:#5f5035; '>title</span><span style='color:#865700; '>></span>Bichinhos - Pet Code<span style='color:#865700; '>&lt;/</span><span style='color:#5f5035; '>title</span><span style='color:#865700; '>></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>link</span> <span style='color:#477766; '>rel</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>stylesheet</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>href</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>css/bichinhos.css</span><span style='color:#800000; '>"</span><span style='color:#865700; '>></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>meta</span> <span style='color:#477766; '>http-equiv</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>Content-Type</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>content</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>text/html; charset=UTF-8</span><span style='color:#800000; '>"</span> <span style='color:#865700; '>/></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>meta</span> <span style='color:#477766; '>name</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>viewport</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>content</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>width=device-width,initial-scale=1,user-scalable=no</span><span style='color:#800000; '>"</span> <span style='color:#865700; '>/></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>meta</span> <span style='color:#477766; '>name</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>description</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>content</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>Pet Code é uma das ferramentas disponiveis em nosso APP. Enquanto não estamos prontos, disponibilizamos ela para todos os bichinhos continuarem seguros.</span><span style='color:#800000; '>"</span><span style='color:#865700; '>></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>link</span> <span style='color:#477766; '>rel</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>canonical</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>href</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>http://quinalha.me/qr-pet/</span><span style='color:#800000; '>"</span><span style='color:#865700; '>></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>meta</span> <span style='color:#477766; '>name</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>author</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>content</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>bichinhos</span><span style='color:#800000; '>"</span><span style='color:#865700; '>></span>
            <span style='color:#865700; '>&lt;</span><span style='color:#5f5035; '>meta</span> <span style='color:#477766; '>name</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>robots</span><span style='color:#800000; '>"</span> <span style='color:#477766; '>content</span><span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#cc5555; '>index</span><span style='color:#800000; '>"</span><span style='color:#865700; '>></span>
            </pre-->
        </div>
      </div>
    </div>
    <footer>
      <div class="tamanho margin">
        <small>Todos os direitos reservados.</small>
      </div>
    </footer>
  </body>
</html>
