<div
  class="hidden md:flex text-left w-full py-4 px-4 md:px-10 border-t border-zinc-800 sticky top-full"
>
  <div class="text-zinc-400 md:text-xs leading-4">
    ©2024 •
    <a
      href="https://github.com/gustavoquinalha"
      target="_blank"
      class="text-zinc-400 hover:text-zinc-200 hover:underline underline-offset-1"
      >Gustavo Quinalha</a
    >
    &
    <a
      href="https://github.com/userjapa"
      target="_blank"
      class="text-zinc-400 hover:text-zinc-200 hover:underline underline-offset-1"
      >Japa</a
    >
    — All rights reserved.
  </div>
</div>
