<div
  class="flex text-left w-full max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto p-8 md:px-10 border-t border-zinc-800"
>
  <div class="text-zinc-400 text-center text-xs leading-4 w-full  mx-auto">
    SeoTopper ©2024 •
    <a
      href="https://gustavoquinalha.github.io/"
      target="_blank"
      class="text-zinc-400 hover:text-white hover:underline underline-offset-1"
      >Gustavo Quinalha</a
    >
    &
    <a
      href="https://github.com/userjapa"
      target="_blank"
      class="text-zinc-400 hover:text-white hover:underline underline-offset-1"
      >UserJapa</a
    >
    — All rights reserved.
  </div>
</div>
