  <div class="bg-zinc-950 border-b border-zinc-800 h-14 w-full flex gap-2 items-center justify-between px-4 overflow-x-auto overflow-y-hidden" id="menu">
    <div class="flex gap-1 items-center h-full">
      <span class="text-xl font-medium">SeoTopper</span>
      <div class="w-px bg-zinc-800 h-full mx-4"></div>
      <a href="" class="bg-zinc-900 text-zinc-200 rounded-lg text-sm px-4 py-1 flex items-center justify-center gap-2">Create</a>
      <a href="" class=" text-zinc-400 rounded-lg text-sm px-4 py-1 flex items-center justify-center gap-2">Preview</a>
      <a href="" class=" text-zinc-400 rounded-lg text-sm px-4 py-1 flex items-center justify-center gap-2">Github</a>
    </div>
    <div class="flex gap-2 items-center">
      <a href="" class="bg-zinc-300 hover:bg-zinc-50 text-zinc-900  rounded-lg text-sm px-4 py-1.5 flex items-center justify-center gap-2">Export</a>
    </div>

  </div>
  <div class="bg-zinc-950 border-b border-zinc-800 h-14 w-full flex items-center justify-between px-4 overflow-x-auto overflow-y-hidden" id="menu2">
    <div class="flex items-center w-full h-full">
      <a href="#general" class="text-zinc-50 border-b border-zinc-200 h-full text-sm px-5 py-2 flex items-center justify-center gap-2 hover:text-zinc-200">General</a>
      <a href="#facebook" class="text-zinc-400 border-b border-transparent h-full text-sm px-5 py-2 flex items-center justify-center gap-2 hover:text-zinc-200">Facebook</a>
      <a href="#twitter" class="text-zinc-400 border-b border-transparent h-full text-sm px-5 py-2 flex items-center justify-center gap-2 hover:text-zinc-200">Twitter</a>
      <div class="w-px bg-zinc-800 h-full"></div>
      <a href="#result" class="text-zinc-400 border-b border-transparent h-full text-sm px-5 py-2 flex items-center justify-center gap-2 hover:text-zinc-200">Result</a>
    </div>
  </div>

  <div class="w-full flex bg-zinc-900">

    <div class="w-full max-w-5xl mx-auto flex flex-col gap-20 max-h-[calc(100vh-112px)] overflow-x-hidden p-4 md:p-8">

      <div class="w-full flex flex-col gap-4" id="general">
        <span class="leading-7 font-bold text-lg text-zinc-200">General</span>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 flex-col gap-4">
          <div class="relative flex flex-col gap-2">
            <label for="title" class="leading-7 text-sm text-zinc-200">Title</label>
            <input type="text" id="title" placeholder="Title" name="title" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="description" class="leading-7 text-sm text-zinc-200">Description</label>
            <input type="text" id="description" placeholder="Description" name="description" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="author" class="leading-7 text-sm text-zinc-200">Author</label>
            <input type="text" id="author" placeholder="Author" name="author" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="image" class="leading-7 text-sm text-zinc-200">Image</label>
            <input type="text" id="image" placeholder="Image" name="image" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="url" class="leading-7 text-sm text-zinc-200">URL</label>
            <input type="text" id="url" placeholder="URL" name="url" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="robots" class="leading-7 text-sm text-zinc-200">Robots</label>
            <input type="text" id="robots" placeholder="Robots" name="robots" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="site-map" class="leading-7 text-sm text-zinc-200">Site Map</label>
            <input type="text" id="site-map" placeholder="site Map" name="site-map" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="theme-color" class="leading-7 text-sm text-zinc-200">Theme color</label>
            <input type="text" id="theme-color" placeholder="Theme color" name="theme-color" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col gap-4" id="facebook">
        <span class="leading-7 font-bold text-lg text-zinc-200">Facebook</span>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 flex-col gap-4">
          <div class="relative flex flex-col gap-2">
            <label for="type" class="leading-7 text-sm text-zinc-200">Type</label>
            <input type="text" id="type" placeholder="Type" name="type" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="app-id" class="leading-7 text-sm text-zinc-200">App ID</label>
            <input type="text" id="app-id" placeholder="App ID" name="app-id" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="fb-admins" class="leading-7 text-sm text-zinc-200">FB Admins</label>
            <input type="text" id="fb-admins" placeholder="FB Admins" name="fb-admins" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex flex-col gap-2">
            <label for="locale" class="leading-7 text-sm text-zinc-200">Locale</label>
            <input type="text" id="locale" placeholder="Locale" name="locale" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col gap-4" id="twitter">
        <span class="leading-7 font-bold text-lg text-zinc-200">Twitter</span>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 flex-col gap-4">
          <div class="relative flex flex-col gap-2">
            <label for="card" class="leading-7 text-sm text-zinc-200">Card</label>
            <input type="text" id="card" placeholder="Card" name="card" class="w-full bg-zinc-800 rounded border border-zinc-700 focus:border-zinc-500 focus:ring-2 focus:ring-zinc-200 text-sm outline-none text-zinc-200 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col gap-4">
        <div class="relative flex flex-col gap-2 col-span-2">
          <button class="bg-zinc-300 hover:bg-zinc-50 text-zinc-900 rounded-lg h-full text-sm px-5 py-2 flex items-center justify-center gap-2">Generate</button>
        </div>
      </div>


  <div class="text-center w-full pt-10 flex gap-4 flex-col items-center justify-center border-t border-zinc-800">
    <div class="text-zinc-500 text-sm">©2024 • <a href="https://github.com/gustavoquinalha" target="_blank" class="text-zinc-300 hover:text-zinc-50 hover:underline underline-offset-1">Gustavo Quinalha</a> — All rights reserved.</div>
  </div>
    </div>

    <div class="w-full bg-zinc-700">
      <div class="w-full h-1/2 bg-zinc-800 overflow-scroll p-4">
        <code>
          <pre>teste</pre>
        </code>
      </div>
      <div class="w-full h-1/2 bg-zinc-100 overflow-y-scroll overflow-x-hidden">2</div>
    </div>

  </div>


