@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~assets/dracula.css';

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  overflow: hidden;
}

#menu::-webkit-scrollbar,
#menu2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
