<div
  class="bg-zinc-950 border-b border-zinc-800 h-14 w-full flex items-center justify-between px-4 gap-4"
  id="menu"
>
  <div class="flex items-center w-full">
    <a routerLink="/" class="flex items-center gap-3">
      <img src="../../../assets/top.svg" class="max-w-full w-5" alt="Logo SeoTopper" />
      <div class="hidden md:block text-xs md:text-sm font-medium">
        SeoTopper
      </div>
    </a>
  </div>

  <div class="hidden md:flex items-center gap-1 relative w-full max-w-sm">
    <input
      type="text"
      id="urlfetch"
      name="urlfetch"
      [(ngModel)]="url"
      (keydown.enter)="fetchMetadata()"
      placeholder="Enter your URL"
      class="w-full pr-14 h-8 text-xs bg-zinc-900 rounded border border-zinc-800 focus:border-white focus:ring-2 focus:ring-white outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
    />
    <button
      (click)="fetchMetadata()"
      class="absolute top-1 right-1 h-6 bg-zinc-800 hover:bg-zinc-700 text-white hover:text-zinc-50 rounded text-xs px-2 py-2 flex items-center justify-center"
    >
      Fetch
    </button>
  </div>

  <div class="w-full flex justify-end items-center">
    <github-button
      type="stargazers"
      namespace="gustavoquinalha"
      repo="seotopper"
    ></github-button>
  </div>
</div>

<app-loading-fetch *ngIf="loading()" />
